<bootstrap-panel>
  <div class="heading">Consuming HTTP Services</div>
  <div class="body">
    <h2>3- Getting Data</h2>
    <app-posts></app-posts>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">16- Solution- Change Password Form</div>
  <div class="body">
    <h2>Change Password Form!</h2>
    <change-password></change-password>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">13- FormBuilder</div>
  <div class="body">
    <h2>Form-builder works!</h2>
    <form-builder></form-builder>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">12- FormArray</div>
  <div class="body">
    <h2>New course form</h2>
    <form-array></form-array>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">17- Solution- Course Form</div>
  <div class="body">
    <h3>Course form</h3>
    <course></course>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">9- ngForm</div>
  <div class="body">
    <h3>
      <ul>
        <li>ngModelGroup</li>
        <li>ngSubmit</li>
        <li>Directive [disabled] button</li>
        <li>Validation errors</li>
        <li>Suscribe to mailing list</li>
        <li>Select</li>
      </ul>
    </h3>
    <ng-form></ng-form>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">Validation Errors</div>
  <div class="body">
    <h2>Specific Validation Errors</h2>
    <bootstrap-form></bootstrap-form>
  </div>
</bootstrap-panel>

<bootstrap-panel>
  <div class="heading">Like</div>
  <div class="body">
    <h2>My like</h2>
    <like></like>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">ngIf</div>
  <div class="body">
    <h2>For large element trees</h2>
    <example-ngif></example-ngif>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">Hidden-property</div>
  <div class="body">
    <h2>For small element trees</h2>
    <example-hidden-property></example-hidden-property>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">ngSwitchCase</div>
  <div class="body">
    <h2>If you have multiple values</h2>
    <example-ng-switch-case></example-ng-switch-case>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">ngFor</div>
  <div class="body">
    <h2>ngFor example</h2>
    <example-ng-for></example-ng-for>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">ngClass</div>
  <div class="body">
    <h2>ngClass example</h2>
    <example-ng-class></example-ng-class>
  </div>
</bootstrap-panel>

<bootstrap-panel>
  <div class="heading">ngStyle</div>
  <div class="body">
    <h2>ngStyle example</h2>
    <example-ng-style></example-ng-style>
  </div>
</bootstrap-panel>

<bootstrap-panel>
  <div class="heading">Zippy</div>
  <div class="body">
    <h2>14- Solution- Zippy</h2>
    <zippy title="Shipping Details"> Shipping Details Content </zippy>
  </div>
</bootstrap-panel>
<bootstrap-panel>
  <div class="heading">7-Styling Invalid Input Fields</div>
  <div class="body">
    <h2>Styling Invalid Input Fields</h2>
    <styling-invalid-input-fields></styling-invalid-input-fields>
  </div>
</bootstrap-panel>
